.flightAdmin-page{

    padding-top: 15vh;
    height: 100vh;
}

.notApproved-box{

    width: 60%;
    text-align: center;
    margin: 30vh 20%;
    background-color: rgba(237, 239, 241, 0.692);
    padding: 4vh 4vw;
}

.notApproved-box h3{

    color: #e35252;
}

.notApproved-box p{

    color: rgb(82, 102, 120);
}